* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --blackolive: #41463d;
  --lavenderfloral: #9d8df1;
  --lightsteelblue: #b8cdf8;
  --magicmint: #b8cdf8;
  --maximumpurple: #7d387d;
}

body {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 100px 1fr;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background-image: linear-gradient(to right, var(--blackolive), white);
}

.headermain {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.flexfiller {
  width: 275.05px;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("purplegif2.gif");
  height: 500px;
  color: var(--lavenderfloral);
}

.main1 button:hover {
  border-color: var(--maximumpurple);
  color: var(--maximumpurple);
}

.main1 h1 {
  text-align: center;
}

.main1 button {
  width: 12.5%;
  height: 10%;
  align-self: center;
}

.textmain1 {
  align-self: center;
  border: solid;
  width: 25%;
}

.main2 {
  justify-content: space-around;
  background-image: radial-gradient(var(--lavenderfloral), var(--magicmint));
}

footer {
  background-image: linear-gradient(to left, var(--blackolive), var(--white));
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
footer p {
  color: var(--white);
}

.purchasebutton {
  width: 100px;
}

.purchasebutton:hover {
  border-color: var(--maximumpurple);
}

p {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.cart {
  width: 50px;
}

.cartimg {
  width: 50px;
  display: flex;
  justify-content: ;
  flex-direction: column;
}

.cartiteminformation {
  display: flex;
  justify-content: space-between;
}

.cartiteminformation p {
  border-left: solid;
  border-right: solid;
}

.cartiteminformationprice .cartiteminformationamount {
  width: 50px;
}

.cartiteminformationitem {
  width: 150px;
}

.cartitemrow {
  display: flex;
  border: solid;
  border-top: solid;
  border-left: solid;
  border-right: solid;
}

.cartitemrow:hover {
  border-color: var(--maximumpurple);
}

.cartitemrow img {
  width: 50px;
}

.cartitemrow input {
  width: 50px;
}

.carttotal {
  display: flex;
  justify-content: space-between;
}

.cartitemprice {
  text-align: center;
}

.addtocart {
  width: 100%;
}

.addtocart:hover {
  border-color: var(--maximumpurple);
}

.cartdropdown {
  z-index: 1;
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  color: white;
  background-color: var(--blackolive);
}

.cartitempicplusname {
  display: flex;
  width: 150px;
}

.cartitemrow button {
  width: 100px;
}

.cartcontainer {
  display: flex;
  flex-direction: column;
}

.cartcontainer:hover img {
  border-style: solid;
}

.cartdropdown .div {
  border-style: solid;
  border-color: var(--white);
}

.cartimg:hover .cartdropdown {
  display: block;
}

.cartdropdown:hover {
  display: block;
}

.empty {
  width: 100px;
}

.allitemcontainer {
  display: flex;
}

.itemrow {
  display: flex;
}

.item {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.itemimage {
  height: 100px;
}

.item {
  background-color: var(--white);
  margin: 10px;
}

.item img {
  margin: 10px;
  border: solid;
}

.itemname p {
  text-align: center;
}

.hide {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--blackolive);
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 100%;
}

.dropdowncontent a {
  display: block;
  background-color: var(--blackolive);
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
  color: var(--white);
}

.dropdownbutton {
  border: none;
  background-color: var(--blackolive);
  color: var(--white);
  border-style: solid;
  border-color: var(--white);
  width: 100%;
}

.dropdownbutton:hover {
  background-color: var(--white);
  color: var(--maximumpurple);
  border-color: var(--maximumpurple);
}

.dropdowncontent a:hover {
  background: var(--white);
  color: var(--maximumpurple);
  border-color: var(--maximumpurple);
}

.dropdownbutton:hover + .dropdowncontent {
  display: block;
}

.dropdowncontent:hover {
  display: block;
}
