* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blackolive: #41463d;
  --lavenderfloral: #9d8df1;
  --lightsteelblue: #b8cdf8;
  --magicmint: #b8cdf8;
  --seagreencrayola: #1cfeba;
}

body {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 100px 1fr;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background-image: linear-gradient(to right, var(--blackolive), white);
}

.headermain {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.cart {
  width: 50px;
}

main {
  background-image: linear-gradient(var(--lavenderfloral), var(--magicmint));
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  background-image: linear-gradient(to left, var(--blackolive), white);
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
footer p {
  color: white;
}

.itemrow {
  display: flex;
  justify-content: space-between;
}

.item {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.itemimage {
  height: 100px;
}

p {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.addtocart {
  width: 100%;
}

.item {
  background-color: white;
  margin: 10px;
}

.item img {
  margin: 10px;
  border: solid;
}

.itemname p {
  text-align: center;
}

.categories {
  border: none;
  text-align: center;
  width: 100%;
  background-color: var(--seagreencrayola);
}

.categorybutton:hover .categories {
  zoom: 1.1;
  color: white;
}

.categorydropdown {
  display: flex;
  background-color: var(--seagreencrayola);
  flex-direction: column;
  color: black;
}

.alldropdown {
  background-color: var(--seagreencrayola);
}

.hide {
  display: none;
}

.cartcontainer {
  display: flex;
  flex-direction: column;
}

.cartcontainer:hover img {
  border-style: solid;
}
