* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blackolive: #41463d;
  --lavenderfloral: #9d8df1;
  --lightsteelblue: #b8cdf8;
  --magicmint: #b8cdf8;
  --seagreencrayola: #1cfeba;
}

body {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: linear-gradient(to right, var(--blackolive), white);
}

.headermain {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: var(--magicmint);
  height: 50px;
}

header img {
  height: 50px;
}

main {
  background-image: linear-gradient(var(--lavenderfloral), var(--magicmint));
  grid-row-start: 2;
  grid-row-end: 3;
}

footer {
  background-image: linear-gradient(to left, var(--blackolive), white);
  text-align: center;
}
footer p {
  color: white;
}

.itemrow {
  display: flex;
  justify-content: space-between;
}

.item {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.itemimage {
  height: 100px;
}

p {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.addtocart {
  width: 100%;
}

.item {
  background-color: var(--seagreencrayola);
  margin: 10px;
}

.item img {
  margin: 10px;
}

.itemname p {
  text-align: center;
}

.categories {
  height: 80%;
}

.categorydropdown {
  position: absolute;
}

.categories:hover .categorydropdown {
  display: none;
}
